body {

    margin: 0;
    padding: 0;


}

/*Header atalaren estiloa*/

header {

    padding-left: 10%;
    padding-right: 10%;
    background-color: #ffffff;

}


/*Goiko nabigazio menuaren estiloa*/

.nabigazioa {

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e3dc95;
    border-radius: 30px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*Nabigazio menuaren ul-ri lista formatua kentzen*/

.nabigazioa ul {

    list-style: none;
    display: flex;
    gap: 30px;
}

/*Nabigazio menuaren ul-ren barruko li-ri estiloa aldatzen*/

.nabigazioa ul li a {

    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}



/*Goiko logoaren estiloa*/

.logo img {

    width: 150px;
    height: auto;

}

/*Saskiaren logoaren estiloa*/

.carritoLogo img {

    width: 50px;
    height: auto;

}

/*Saskiaren zenbaketaren estiloa*/

.carritoLogo span {

    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #000000;

    text-decoration: none;
}

/*Login botoiaren estiloa*/

.loginBtn {

    font-size: 20px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    border: none;
    background-color: #a6a867;
    cursor: pointer;
    border-radius: 5px;
}

.loginBtn a {

    text-decoration: none;
    color: rgb(0, 0, 0);
}